<!DOCTYPE html>
<html lang="en">
<title> Midiate</title>
<head>
  <link href="../static/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
       <h1>Collecting heights</h1>
       <h3>Enter to get population height statistics</h3>
       <form action="success.html" method="POST">
         <input title="Your email is safe" id="em" placeholder="Please enter your email address" type="email" name="email name" required><br>
         <input title="Your data is safe" id="em" placeholder="Please enter your height in cm" type="number" min="50" max="300" name="number" required><br>
         <button type="submit">submit</button>
       </form>
      <div>
  </body>
  </html>
